meta(charset='utf-8')
meta(name="viewport" content="width=1246")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Description")
meta(name="keywords" content="Keywords")
title Брянский лес
link(rel="shortcut icon" href="./images/favicon.ico")
link(rel="stylesheet" href="./styles/application.css" media="all" async)