.pagination
  margin:45px 0
  text-align:center
  > li
    margin-left:10px
    dibt()
    &:first-child
      margin-left:0
    a, span
      br(20px)
      display:block
      text-align:center
      color:#52514d
    a
      text-decoration:none
    span
      color:#aea27c